body {
  background: #555555;
  font-family: Helvetica;
  text-align: center;
}

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
}

button {
  background: #008CBA;
  border: none;
  border-radius: 5px;
  height: 38px;
  width: 38px;
  margin: 2px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

button.correct {
  background: #4CAF50;
}

button.wrong {
  background: #f44336;
}

.audios {
  display: none;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
