body {
  background: #555555;
  font-family: Helvetica;
  text-align: center;
}

#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 20px;
  transition: all 0.2s;
  margin: 0 auto;
  width: 300px;
}

button {
  background: #008CBA;
  border: none;
  border-radius: 5px;
  height: 38px;
  width: 38px;
  margin: 2px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

grid:nth-child(3n):after {  /* (3n+1) */
  content: '\A';
  white-space: pre;
}

button.correct {
  background: #4CAF50;
}

button.wrong {
  background: #f44336;
}

.audios {
  display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 4px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li a:hover, .dropdown:hover .dropbtn {
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right:2px;
    border-radius: 4px;
    right: -1px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:active .dropdown-content {
    display: block;
}

.active {
  background-color: #008CBA;
  color: white;
}
